
.obsidian/app.json
.obsidian/appearance.json
.obsidian/core-plugins.json
.obsidian/hotkeys.json
.obsidian/workspace
Agile_Multiverse/.obsidian/app.json
Agile_Multiverse/.obsidian/appearance.json
Agile_Multiverse/.obsidian/community-plugins.json
Agile_Multiverse/.obsidian/config
Agile_Multiverse/.obsidian/core-plugins.json
Agile_Multiverse/.obsidian/graph.json
Agile_Multiverse/.obsidian/hotkeys.json
Agile_Multiverse/.obsidian/plugins/better-word-count/main.js
Agile_Multiverse/.obsidian/plugins/better-word-count/manifest.json
Agile_Multiverse/.obsidian/plugins/better-word-count/styles.css
Agile_Multiverse/.obsidian/plugins/obsidian-admonition/data.json
Agile_Multiverse/.obsidian/plugins/obsidian-admonition/main.js
Agile_Multiverse/.obsidian/plugins/obsidian-admonition/manifest.json
Agile_Multiverse/.obsidian/plugins/obsidian-admonition/styles.css
Agile_Multiverse/.obsidian/plugins/sliding-panes-obsidian/main.js
Agile_Multiverse/.obsidian/plugins/sliding-panes-obsidian/manifest.json
Agile_Multiverse/.obsidian/plugins/sliding-panes-obsidian/styles.css
Agile_Multiverse/.obsidian/plugins/table-editor-obsidian/data.json
Agile_Multiverse/.obsidian/plugins/table-editor-obsidian/main.js
Agile_Multiverse/.obsidian/plugins/table-editor-obsidian/manifest.json
Agile_Multiverse/.obsidian/plugins/table-editor-obsidian/styles.css
Agile_Multiverse/.obsidian/plugins/url-into-selection/main.js
Agile_Multiverse/.obsidian/plugins/url-into-selection/manifest.json
Agile_Multiverse/.obsidian/plugins/url-into-selection/styles.css
Agile_Multiverse/.obsidian/publish.json
Agile_Multiverse/.obsidian/templates.json
Agile_Multiverse/.obsidian/workspace
Agile_Multiverse/.vault-stats
Agile_Multiverse/templates/note template.md
.gitattributes
.DS_Store
*.json
.obsidian/plugins/templater-obsidian/main.js
.obsidian/plugins/templater-obsidian/styles.css
.obsidian/plugins/url-into-selection/main.js
.obsidian/plugins/obsidian-admonition/main.js
.obsidian/plugins/obsidian-outliner/main.js
.obsidian/plugins/obsidian-admonition/styles.css
.obsidian/plugins/sliding-panes-obsidian/main.js
*.css
.obsidian/plugins/table-editor-obsidian/main.js
/.obsidian/plugins/smart-random-note/**
.obsidian/plugins/obsidian-advanced-uri/main.js
